/*
* @Author: ThinkPad
* @Date:   2017-10-31 15:06:34
* @Last Modified by:   ThinkPad
* @Last Modified time: 2017-10-31 22:51:28
*/
.crumb_wrap{
    margin: 24px 0 24px -8px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}
.crumb_wrap .crumb_item{
    margin: 0 8px;
}


